@model AddUserRoleViewModel
@{
    ViewData["Title"] = "AddUserRole";
}

<h2>AddUserRole</h2>

<h4>Add</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserRole" enctype="multipart/form-data">
        </form>
    </div>
</div>

