@model MorFriesland.Models.Bronhouder

@{
    ViewData["Title"] = "Nieuwe bronhouder";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="submit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
       
            <input id="gemeente" type ="hidden" asp-for="Gemeente" />

            <div class="form-group">
                <input type="submit" id="meldingsubmit" value="Toevoegen" class="btn btn-default meldingbutton" />
                <div class="loader"></div>


            </div>
        </form>
    </div>
    <div class="col-md-8">
        <label>Kies een locatie binnen de gewenste gemeente</label>
        <input id="pac-input" class="controls" type="text"
               placeholder="Zoek een locatie">
        <div class="nieuwemap" id="map"></div>
        <div id="infowindow-content">
            <span id="place-name" class="title"></span><br>

            <span id="place-address"></span>
        </div>
        <script src="~/js/bronhouder.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK3VEpVPHSGvBnYuGfLUYYtj1MnJ4rPWg&libraries=places&callback=initMap" async defer></script>



    </div>
</div>

<div>
    <a asp-action="Index">Bekijk bronhouders</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
