body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.row.search {
    margin-bottom: 20px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }
.content{
    padding-bottom: 100px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.nieuwemap {
    clear: both;
    height: 500px ;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    max-width: 400px;
    width: 100%;
}

    .controls:focus {
        border-color: #4d90fe;
    }


.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #244994;
}

.btn.btn-default.meldingbutton {
    background-color: #244994;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 4px;
    padding: 8px 25px !important;
    color: #fff;
}

.btn.btn-default.meldingbutton:hover {
    color: #ffffff;
    background-color: #2d59b4;
}

.infobeschrijving {
    word-wrap: break-word;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.logo{
    max-width: 100%;
}

a.navbar-brand {

    max-width: 200px;
    padding: 0px;
    margin-right: 20px;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menubutton:hover {
    background-color: #c73326;
    color: #000000;
}
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #244994;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #ffffff;
            background-color: #2d59b4;
        }


footer {
    background-color: #244994;
    text-align: center;
    color:#ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}
.navbar-toggle {
    background-color: #244994;
    border: #244994;
}

.loader {
    margin-left: 5px;
    margin-top: 4px;
    float: left;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #244994;
    width: 22px;
    height: 22px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#meldingsubmit{
    float: left;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}






.menubutton {
    background-color: #244994;
    border-radius: 5px;
    margin-right: 10px; 
    margin-top: 4px;
    padding: 8px 25px !important;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .navbar-inverse {
        padding-bottom: 0px;
        margin-bottom: 10px;
    }

    a.navbar-brand {
        max-width: 220px;
        padding: 15px 15px;
    }

    .controls {
        width: 280px;
        left: -7px !important;
        top: 40px !important;
    }

    .content {
        padding-bottom: 0px;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        /* border-color: #101010; */
        border: none;
        background-color: #244994;
        padding: 0px;
    }


    .navbar-fixed-top, .navbar-fixed-bottom {
        position: inherit;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .navbar-nav {
        margin: 0px;
    }

    .menubutton {
        margin-top: 0px;
        border-radius: 0px;
        border-bottom: 1px solid white;
        margin-right: 0px;
        padding: 15px 15px !important;
        text-align: left;
    }

    .nieuwemap {
        height: 350px;
        clear: both;
    }

    .newmap {
        padding: 0px;
        margin-top: 60px;
    }

    .navbar-toggle .icon-bar:nth-of-type(2) {
        top: 1px;
    }

    .navbar-toggle .icon-bar:nth-of-type(3) {
        top: 2px;
    }

    .navbar-toggle .icon-bar {
        position: relative;
        transition: all 250ms ease-in-out;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 6px;
        transform: rotate(45deg);
    }

    .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent;
    }

    .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -6px;
        transform: rotate(-45deg);
    }

    .navbar-brand{
        height: auto !important;
    }

    .meldingtitle{
        margin-top: 0px;
    }
    .col-md-8.bronhouders {
        margin-top: 75px;
    }

    .col-md-6.manageindex {
        margin-bottom: 10px;
    }
    button.btn.btn-default.meldingbutton.uitloggen {
        margin-top: 0px;
        border-radius: 0px;
        border-bottom: 1px solid white;
        margin-right: 0px;
        padding: 15px 15px !important;
        text-align: left;
        vertical-align: -webkit-baseline-middle;
        border: none;
        width: 100%;
    }

}

