body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    min-height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
}

.content{
    padding-bottom: 100px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.nieuwemap {
    height: 500px ;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

.controls {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid transparent;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    height: 29px;
    margin-left: 17px;
    margin-top: 10px;
    outline: none;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    max-width: 400px;
    width: 100%;
}


    .controls:focus {
        border-color: #4d90fe;
    }
    .btn btn-default {
    background-color: #244994;
    color: #fff;
    border-radius: 8px;
}

    .btn-default {
    background-color: #244994;
    color: #fff;
    border-radius: 8px;
}
.navbar-inverse .navbar-link {
    background-color: #244994;
    color: #fff;
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 4px;
    padding: 8px 25px !important;
}

    .btn.btn-default.meldingbutton {
    background-color: #244994;
    border-color: #244994;
    color: white;
}

.infobeschrijving {
    word-wrap: break-word;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}
https://localhost:44375/Home
.logo{
    max-width: 100%;
}

a.navbar-brand {

    max-width: 200px;
    padding: 0px;
    margin-right: 20px;
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none;
}

.btn-default:hover {
    color: white;
    background-color: #2d59b4;
    border-color: #2d59b4;
}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
    color: #fff;
    background-color: #2d59b4;
    border-color: #2d59b4;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    color: #fff;
    background-color: #2d59b4;
    border-color: #2d59b4;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menubutton:hover {
    background-color: #c73326;
    color: #000000;
}
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #244994;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #ffffff;
            background-color: #2d59b4;
        }


footer {
    background-color: #244994;
    height: 100px;
    text-align: center;
    color:#ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: -100px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
}
.navbar-toggle {
    background-color: #244994;
    border: #244994;
}

.menubutton {
    background-color: #244994;
    border-radius: 8px;
    margin-right: 10px; 
    margin-top: 4px;
    padding: 8px 25px !important;
}

.inputbutton{
    
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

