body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.nieuwemap {
    height: 500px ;
}

.logo{
    max-width: 100%;
}

a.navbar-brand {

    max-width: 200px;
    padding: 0px;
    margin-right: 20px;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.menubutton:hover {
    background-color: #c73326;
    color: #000000;
}
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #244994;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }
        .navbar-inverse .navbar-nav > li > a:hover {
            color: #ffffff;
            background-color: #2d59b4;
        }


footer {
    background-color: #244994;
    height: 100px;
    text-align: center;
    color:#ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.navbar-toggle {
    background-color: #244994;
    border: #244994;
}

.menubutton {
    background-color: #244994;
    border-radius: 8px;
    margin-right: 10px; 
    margin-top: 4px;
    padding: 8px 25px !important;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
