@model MorFriesland.Models.ViewModels.MeldingVM
@{
    ViewData["Title"] = "Nieuw";
}
<h2 class="meldingtitle">Nieuwe melding</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" enctype="multipart/form-data" id="submit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Melding.Categorie_Id" class="control-label"></label>
                <select asp-for="Melding.Categorie_Id" class="form-control" asp-items="ViewBag.Categorie_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Melding.Beschrijving" class="control-label"></label>
                <textarea asp-for="Melding.Beschrijving" class="form-control" rows="4"> </textarea>
                <span asp-validation-for="Melding.Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melding.Foto" class="control-label"></label>
                <input type="hidden" asp-for="Melding.Foto" />
                <input type="file" class="bestand" name="Image" accept="image/jpeg,image/png" />
                <span asp-validation-for="Melding.Foto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label><input type="checkbox" id="EmailCheckbox" value="false" /> Houdt mij op de hoogte</label>
                @if (!User.Identity.IsAuthenticated)
    {
            <input id="email" asp-for="Melding.Email" placeholder="Email" class="form-control" />
            <div style="display: none;" data-ingelogd="loggedout" class="ingelogd"></div>
            <span asp-validation-for="Melding.Email" class="text-danger"></span>

}
else
{
            <input type="hidden" id="email" asp-for="Melding.Email" placeholder="Email" value="false" class="form-control" />

            <div style="display: none;" data-ingelogd="loggedin" class="ingelogd"></div>
}
            </div>
            <input type="hidden" id="nieuwlong" asp-for="Melding.Long" class="form-control" />
            <input type="hidden" id="nieuwlat" asp-for="Melding.Lat" class="form-control" />
            <input type="hidden" id="gemeente" asp-for="Melding.Gemeente" class="form-control" />

            <div class="form-group">
                <button type="button" id="meldingsubmit" class="btn btn-default meldingbutton"> Melden</button>
                <div class="loader"></div>
            </div>
        </form>
    </div>
    <div class="col-md-8 newmap">
        <input id="pac-input" class="controls" type="text"
               placeholder="Zoek een locatie">
        <div class="nieuwemap" id="map"></div>
        <div id="infowindow-content">
            <span id="place-name" class="title"></span><br>
            <span id="place-address"></span>
        </div>
        <script src="~/js/nieuwemelding.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK3VEpVPHSGvBnYuGfLUYYtj1MnJ4rPWg&libraries=places&callback=initMap" async defer></script>

    </div>
</div>
@foreach (Melding item in Model.Meldingen)
{
    <div id="meldingen" style="display: none;" data-lat="@item.Lat" data-lng="@item.Long" data-name="@item.Naam" data-img="/uploads/@item.Naam/@item.Foto" data-beschrijving="@item.Beschrijving"></div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}