@model MorFriesland.Models.ViewModels.MeldingVM

@{
    ViewData["Title"] = "Nieuw";
}

<h2>Nieuwe melding</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Nieuw" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Melding.Categorie_Id" class="control-label"></label>
                <select asp-for="Melding.Categorie_Id" class="form-control" asp-items="ViewBag.Categorie_Id"></select>
            </div>
            <div class="form-group">
                <label asp-for="Melding.Beschrijving" class="control-label"></label>
                <input asp-for="Melding.Beschrijving" class="form-control" />
                <span asp-validation-for="Melding.Beschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Melding.Foto" class="control-label"></label>

                <input type="hidden" asp-for="Melding.Foto" />

                <input type="file" name="Image" accept="image/jpeg,image/png" />
                
                <span asp-validation-for="Melding.Foto" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label><input asp-for="Melding.Email" type="checkbox" id="EmailCheckbox" /> Wilt u op de hoogte gehouden worden van uw melding?</label>
                
                <input id="email" asp-for="Melding.Email" placeholder="Email" class="form-control"/>
                <span asp-validation-for="Melding.Email" class="text-danger"></span>
            </div>

            <input type="hidden" id="nieuwlong" asp-for="Melding.Long" class="form-control" />
            <input type="hidden" id="nieuwlat" asp-for="Melding.Lat" class="form-control" />



            <div class="form-group">
                <input type="submit" value="Nieuw" class="btn btn-default" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <input id="pac-input" class="controls" type="text"
               placeholder="Zoek een locatie">
        <div class="nieuwemap" id="map"></div>
        <div id="infowindow-content">
            <span id="place-name" class="title"></span><br>

            <span id="place-address"></span>
        </div>
        <script src="~/js/nieuwemelding.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK3VEpVPHSGvBnYuGfLUYYtj1MnJ4rPWg&libraries=places&callback=initMap" async defer></script>



    </div>
</div>

@foreach (Melding melding in Model.Meldingen)
{
    <div id="meldingen" data-lat="@melding.Lat" data-lng="@melding.Long"></div>
}


    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
